.wrapper {
  padding: 0.4rem;
  background-color: #fff;
  .form-control-search {
    position: relative;
    fa-icon {
      position: absolute;
      top: 8px;
      left: 16px;
      color: gray;
    }
    input {
      padding-left: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .icon-clear {
      position: absolute;
      top: 12px;
      right: 16px;
      cursor: pointer;
    }
  }
}
